{% extends 'shopper/layout.html' %}
{% load static %}

{% block body %}
<div class="mainSlider">
<div>
    <div class="slider-hits">

        <h2>Хиты продаж</h2>
        <div class="smaller-sales-products">
           
            <button id="slide-left" type="button"><</button>
            <div id="sales-products"></div>
            <button id="slide-right" type="button">></button>
        </div>

    </div>
    
</div>
  
</div>
<div class="all-products-main">
<h3>Все товары</h3>
    <div id="all-products"></div>
    <footer>
        <div class="footer-content">
            <h3>Shop Name</h3>
    
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 chimchimster. designed by <span>Mc_gvozdeff</span></p>
        </div>
    </footer>
    {% endblock %}
    
    
    {% block script %}
    <div>
        <script src="{% static 'shopper/index.js' %}"></script>
    </div>
    {% endblock %}
</div>