{% extends 'shopper/layout.html' %}
{% load static %}

{% block body %}
<div class="mainSlider">
<div style="width: 100%; height: 282px">
    <div class="slider-hits">

        <h2>Хиты продаж</h2>
        <div class="smaller-sales-products">
            <button id="slide-right" type="button">></button>
            <button id="slide-left" type="button"><</button>
            <div id="sales-products"></div>
                
        </div>

    </div>
    
</div>
    <div class="slider-sales">
        <h3>Скидки</h3>
    </div>
</div>
<div class="all-products-main">

    <div id="all-products"></div>
    
    {% endblock %}
    
    
    {% block script %}
    <div>
        <script src="{% static 'shopper/index.js' %}"></script>
    </div>
    {% endblock %}
</div>