{% extends 'shopper/layout.html' %}
{% load static %}

{% block body %}
<h1>Хиты продаж</h1>
<div id="sales-products"></div>
<button id="slide-left" type="button"> < </button>
<button id="slide-right" type="button"> > </button>


<h1>Скидки</h1>
<!--{% for product in is_sale %}-->
<!--    {{ product.p_name }}-->
<!--    <img src="/media/{{ product.productsdescription__p_images }}" alt="{{ product.p_name }}" width="150" height="150">-->
<!--    {{ product.p_model }}-->
<!--    {{ product.p_price }}-->
<!--{% endfor %}-->



{% endblock %}


{% block script %}
<script src="{% static 'shopper/index.js' %}"></script>
{% endblock %}