{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Просто шоппинг{% endblock %}</title>
    <link href="{% static 'shopper/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Sora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="CONTEINER-nav-conteiner">

        <div class="nav-conteiner">
            <ul>
                <li>
                    <a class="nav-link" href="{% url 'index' %}"><ion-icon name="cart-outline" class="Nav-icons"></ion-icon>

                    
                    </a>
                </li>
                <li>
                    <h1>Shop Logo</h1>
                </li>
                <li class="login-box">
                    <a class="nav-link" href="{% url 'index' %}"><ion-icon name="person-outline" class="Nav-icons"></ion-icon>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    {% if user.is_authenticated %}
                    Вы вошли, как <strong>{{ user.username }}</strong>.
                    {% else %}
                    Вы не вошли в систему.
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="Shopping-box" href="">Выйти</a>
                </li>
                {% else %} 
                <li class="login-box">
                    <a class="nav-link" href="{% url 'index' %}"><img
                            src=""
                            alt="login"></a> 
                </li>
                <li class="nav-item">
                        <a class="nav-button" href="">Зарегистрироваться</a>
                    </li>
    
                {% endif %}
            </ul>
        </div>
        <div class="nav-brands">
            <nav>
                <ul class="nav">
                    <li class="nav-brands">
                        <a class="nav-link" href="{% url 'index' %}">Adidas</a>
                    </li>
                    <li class="nav-brands">
                        <a class="nav-link" href="{% url 'index' %}">Nike</a>
                    </li>
                    <li class="nav-brands">
                        <a class="nav-link" href="{% url 'index' %}">Jordan</a>
                    </li>
                    <li class="nav-brands">
                        <a class="nav-link" href="{% url 'index' %}">Newbalance</a>
                    </li>
                    <li class="nav-brands">
                        <a class="nav-link" href="{% url 'index' %}">Reebok</a>
                    </li>
                    <li class="nav-brands">
                        <a class="nav-link" href="{% url 'index' %}">Vans</a>
                    </li>
                    <li class="nav-brands">
                        <a class="nav-link" href="{% url 'index' %}">Converse</a>
                    </li>
    
                </ul>
            </nav>
        </div>
    </div>
    <hr class="Nav-hr">
    {% block script %}
    {% endblock %}
    {% block body %}
    {% endblock %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>


</html>