{% extends 'shopper/layout.html' %}
{% load static %}

{% block body %}

{% for p in product %}
<div class="main-content-conteiner" xmlns="">
    <div class="content-container">
        <div id="carousel-and-info">
            <div class="product-info-block">
                <ul class="prudct-information-nav">
                    <li>{{ p.productsdescription__type_of_sole }}</li>
                    </li>{{ p.productsdescription__product_name }}</li>
                    <li>{{ p.productsdescription__product_model }}</li>
                    <li>{{ p.productsdescription__product_other_attrs }}</li>
                </ul>
                <div class="product-color">
                    <p>Цвет: Color</p>
                </div>
                <div class="product-raiting">
                    <ul class="raiting">
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star"></ion-icon></li>
                        <li><ion-icon name="star-half"></ion-icon></li>
                    </ul>
                </div>
                <div class="product-price"><span>Price: </span>{{ p.product_price }}</div>
                <div class="empty"></div>
                <ul class="images-links-to-other-goods_NAV">
                    <li><img src="/media/{{ p.productsdescription__product_images }}" width="75px" height="75px"></li>
                    </li><img src="/media/{{ p.productsdescription__product_images }}" width="75px" height="75px"></li>
                    <li><img src="/media/{{ p.productsdescription__product_images }}" width="75px" height="75px"></li>
                    <li><img src="/media/{{ p.productsdescription__product_images }}" width="75px" height="75px"></li>
                </ul>
                <div class="size-of-product">
                    <span>Size: </span>{{ p.productsdescription__product_size }} <span>Таблица размеров</span>
                </div>
                <select class="size-bar" name="size-choosing" required="required">
                    <option value="">Выберите размер</option>
                    <option value="1">38</option>
                    <option value="2">39</option>
                    <option value="3">40</option>
                    <option value="4">41</option>
                    <option value="5">42</option>
                    <option value="6">43</option>
                  </select>
                  <div class="buy-button-container">
                <button class="buy-button">press if u wanna die</button>
                  </div>
            </div>
        </div>
        <div class="conteiner-adittional-product-info">
            <ul class="nav-addittional-product-info">
                <li><span>season...............</span>{{ p.productsdescription__seasons }}</li>
                <li><span>Main_material...............</span>{{ p.productsdescription__main_material }}</li>
                <li><span>Code...............</span>{{ p.product_code }}</li>
            </ul>
            <ul class="nav-addittional-product-info">
                <li><span>Manufacturer...............</span>{{ p.productsdescription__manufacturer }}</li>
                <li><span>Quantity...............</span>{{ p.product_quantity }}</li>
                <li><span>Solethickness...............</span>{{ p.productsdescription__sole_thickness }}</li>
            </ul>
        </div>
    </div>
</div>

<div id="product_img1"></div>

{% endfor %}

{% endblock %}

{% block script %}
<div>
    <script src="{% static 'shopper/product.js' %}"></script>
</div>
{% endblock %}