/* Main tags */
html,
body {
  position: relative;
  min-height: 100%;
  font-family: "Sora", sans-serif;
  margin: 0px;
  background-color: #F4F4EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#intro {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

body {
  padding-bottom: 213px;
}

/* 1st header includes logo, cart button, and login*/
.CONTEINER-nav-conteiner {
  max-width: 100%;
  background: linear-gradient(to left, #F4F4EF 10%, white 50%, #F4F4EF);

}

.nav-conteiner {
  display: inline-block;
  width: 70%;
  height: 50px;
  padding-top: 10px;
  margin-left: 15%;
  margin-right: 15%;

}
.nav-conteiner>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-conteiner>div>ul {
  list-style-type: none;
  padding: 0px;
  margin: auto;
  
}

.nav-conteiner>div>ul>li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  vertical-align: middle;
}
.nav-conteiner>div>ul>.You-are-logged-in-as {
  font-size: 10px;
  font-weight: 100;
}
.nav-conteiner>div>ul>li>h1 {
  font-size: 22px;
}

.nav-conteiner>div>ul>li>a {
  text-decoration: none;
  width: 25px;
  height: 25px;
}

.nav-conteiner>div>ul>li>a>.Nav-icons {
  width: 25px;
  height: 25px;
  color: black;
  padding-top: 5px;
}

/* brands navigation bar */
.nav-brands {
  display: inline-block;
  width: 70%;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 3px;

}

.nav-brands>nav {
  display: flex;
  justify-content: center;
  margin: auto;
}

.nav-brands>nav>ul {
  display: flex;
  text-align: center;
}

.nav-brands>nav>ul>li {
  margin-right: 5px;
  margin-left: 5px;
}

.nav-brands>nav>ul>li>a {
  padding: 5px;
  color: black;
  text-decoration: none;
  font-size: 16px;
}

/* shadow line at the bottom of the header  */
.Nav-hr {
  height: 20px;
  margin: 5px auto;
  margin-top: 0px;
  width: 80%;
  background-image: radial-gradient(farthest-side at 50% -50%,
      rgba(0, 0, 0, 0.333),
      rgba(0, 0, 0, 0));
  position: relative;
  border: none;
}

.Nav-hr:before {
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75) 50%,
      rgba(0, 0, 0, 0));
}

.mainSlider {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 441px;

}

.slider-hits {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

div>.sales-product {
  display: inline-block;
  width: 200px;
  flex-wrap: nowrap;
  margin: 15px;
}

/* It's a name of product and link to the product's page */
.slider-hits>h3 {
  display: block;
  margin-top: 0px;
}

.slider-hits>h2 {
  text-align: center;
  font-size: 1em;
  font-weight: 600;

}

.info>h3>a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 30px;
  width: 200px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

.smaller-sales-products {
  display: flex;
  align-items: center;
}



.smaller-sales-products>div {
  display: flex !important;
  align-items: center;
  vertical-align: center;
  margin: auto;
}

.smaller-sales-products>button#slide-left {
  height: fit-content;
  border: none;
  background: transparent;
  font-size: larger;
  color: #3e8e41
}

.smaller-sales-products>button#slide-right {
  height: fit-content;
  border: none;
  background: transparent;
  font-size: larger;
  color: #3e8e41
}

/* Products Grid */

.all-products-main {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
}

.all-products-main>h3 {

  text-align: center;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 10px;

}

div#all-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  column-gap: 30px;
  row-gap: 40px;
  justify-content: center;

}

/* The card of product in grid*/
.product {
  margin-top: 20px;
  width: 200px;
  box-shadow: 0 3px 4px  rgba(0, 0, 0, 0.25);
  background: linear-gradient(#F4F4EF, white);
}

.container {
  margin-top: 5px;
}

/* Product cart's image */
.image {
  margin-bottom: 10px;
}

.image>img {
  height: 250px;
  width: 200px;
  object-fit: cover;
  border-radius: 7px;
}

/*Product card info includs on name, price, buttons and raiting  */
.info {
  padding: 3px;
  
}

.info>h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  text-decoration: none;
}

.info>h3>a {
  text-decoration: none;
  color: black;
  width: 190px;
}

.raiting {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin-top: 8px;
}

.raiting>li {
  display: inline-block;
  color: gold;
}

/* Product Card information about price and buttons  */
.info-price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart {
  display: flex;
  border: none;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgb(97, 220, 101);
  color: #ffffff;
  border-radius: 10px;
}

.price {
  font-weight: 500px;
  font-size: 18px;
}





/* Shop Product main page */
.content-container {

  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

/* Main product img conteiner */
.carousel-block {
  float: left;
  width: 47%;
  height: auto;
  text-align: center;
  margin-right: 3%;

}
.product-info-block {
  float: right;
  width: auto;
  height: 500px;
  max-width: 47%;
  overflow-wrap: normal;
  margin-left: 3%;
}

.carousel-block>img {
 
  display: inline-block;
  width: auto;
  height: 500px;
}

/* main info div conteiner */

.prudct-information-nav {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin-top: 8px;
}

.prudct-information-nav>li {
  display: inline-block;
  width: fit-content;
  text-align: left;
  font-size: 25px;
}

.product-color>p {
  color: rgba(0, 0, 0, 0.415);
  margin-top: 5px;
  margin-bottom: 8px;
}

.main-raiting {
  margin-top: 0px;
  margin-bottom: 8px;
}

.main-raiting>li>.md {
  width: 15px;
  height: 15px;
}

.empty {
  height: 15%;
}

/* small images conteiner */
.images-links-to-other-goods_NAV {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}

.images-links-to-other-goods_NAV>.small-images {
  display:inline-block;
  
}

.images-links-to-other-goods_NAV>.small-images>img {
  display: inline-block;
  height: 100px;
  width: auto;
  text-align: center;
margin-bottom: 15px;
margin-right: 5px;
}
.images-links-to-other-goods_NAV>.small-images>img:hover {
 
  border: 1px solid #3e8e41;
  cursor: pointer;
  border-radius:  5px;
}

.product-price {
  font-size: 20px;
}

/* size bar and buy button  */
.size-of-product {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.size-of-product>span>a {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.415);
}

.size-bar {
  width: 200px;
  height: 35px;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px #999;
  background: #eee;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

label {
  position: relative;
}

label:after {
  content: '<>';
  font-size: 18px;
  color: #666;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 4px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;

}

label:before {
  content: '';
  right: 6px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: #eee;
  position: absolute;
  pointer-events: none;
  display: block;
}

/* buy button */
.buy-button {

  width: 300px;
  margin-top: 15px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;

}

.buy-button:hover {
  background-color: #3e8e41
}

.buy-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

/* additional info conteiner under the card of product */
.product-page-hr-line {
  margin: -30px auto 10px;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
  width: 75%;
}

.bottom-main-content-conteiner {
  width: 1100px;
  margin: auto;
}

.conteiner-adittional-product-info {
  display: block;
  margin-top: 30px;
  height: 100px;
  margin-right: 50%;
}

.nav-addittional-product-info {
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin-top: 8px;
  width: 250px;
  justify-content: center;

}

.nav-addittional-product-info>li {
  display: inline-block;
  justify-content: center;
  width: 250px;
  color: rgba(0, 0, 0, 0.415);
}

/* Comments section */
#id_body {
  padding: 6px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  outline: none;
}
.text-area-conteiner {
  display: inline-block;
  width: fit-content;
  text-align: end;
}
.text-areah4 {
  padding-left: 3px;
  font-weight: 500;
}
.text-area-button {
  margin-top: 5px;
  padding: 3px 5px;
 cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
}

.text-area-button:hover {
  background-color: #3e8e41
}

.text-area-button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}
#all-comments {
  display: flex;
  flex-direction: column;
}
#all-comments>.unique-comment {
margin: 15px 2px;
text-align: start;
}
#all-comments>.unique-comment>p {
  display: inline-block;
  font-weight:100;
}
/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: black;
  margin-top: 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.footer-content h3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.3rem;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0 0.7rem 0;
}

.socials li {
  margin: 0 7px;
}

.socials a {
  text-decoration: none;
  color: black;
}

.socials a i {
  font-size: 1.3rem;
  transition: color .4s ease;

}

.socials a:hover i {
  color: rgb(28, 31, 31);
}

.footer-bottom {
  background: white;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/* div#all-products>.product {
    height: 230px;
    background-color: beige;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4p
}
div#all-products>.product>div {
    width: 170px;
    height: 202px;
}

div#all-products>.product>div>img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    border: 1px solid rgb(209, 209, 194);
    border: rgb(231, 231, 215) solid 1px;
} 
div#all-products>.product>div>p { 
display: inline-block;
margin: 10px;
font-size: 16px;

} */
/* Shop conteiners
.mainShopContainer {
    display: inline-block;
    width: 350px;
    vertical-align:top;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 30px;
}
.mainShopContainer>h3>a {
    color: black;
    text-decoration: none;
}

*/
reg
 .motherRegContainer {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.regContainer {
    display: inline-block;
    width: 300px;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 20px;
}
.regContainer>h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.regContainer>hr {
    border: none;
    height: 3px;
    margin: 20px 0;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, #FFF,  rgb(247, 193, 239), #FFF);
}
.regContainer>hr:before,
.regContainer>hr:after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid  rgb(247, 193, 239);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
}
.regContainer>hr:after {
    animation: anim-hr 1s linear infinite; 
}
@keyframes anim-hr {
    0% {
        width: 20px;
        height: 20px;
    }
    100% {
        width: 0;
        height: 0;
    }
}

.form-group {
    display: inline-block;
    height: 10px;
text-align: left;
width:  95%;


}
.text-input>div {
    text-align: center;
    margin-bottom: 0px;
   
}
.text-input>div>#id_username, #id_email, #id_password1, #id_password2 {
    display: inline-block;
    width:  95%;  
    border-radius: 5px;
    border-width: 0.2px;
    border-color: rgb(247, 193, 239);
    outline: none; 
}
.regButton {
    display: inline-block;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
     color:black;
  background-color: transparent;
   border-radius: 10px;
   margin-bottom: 10px;
   background-color: rgb(247, 193, 239);
}
login
.loginMainContainer>h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.loginMainContainer>hr {
    border: none;
    height: 3px;
    margin: 10px 0;
    margin-top: 15px;
    background-image: linear-gradient(to right, #FFF,  rgb(247, 193, 239), #FFF);
    margin-bottom: 20px;
}
.loginMainContainer>hr:before,
.loginMainContainer>hr:after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid  rgb(247, 193, 239);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
}
.loginMainContainer>hr:after {
    animation: anim-hr 1s linear infinite; 
}
@keyframes anim-hr {
    0% {
        width: 20px;
        height: 20px;
    }
    100% {
        width: 0;
        height: 0;
    }
}
.loginMotherContainer{
    display: block;
    text-align: center;
    margin-top: 40px; 
}
.loginMainContainer {
    display: inline-block;
    width: 280px;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 20px;
}
#id_username, #id_password { 
display: inline-block; 
margin-bottom: 5px;
    width:  80%;  
    border-radius: 5px;
    border-width: 0.2px;
    border-color: rgb(247, 193, 239);
    outline: none; 
}
.logButton { 
    margin-top: 5px;
display: inline-block;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
     color:black;
  background-color: transparent;
   border-radius: 10px;
   
   background-color: rgb(247, 193, 239);
   text-align: center;
}
.regContainer>p {
    margin-top: 0px;
    margin-bottom: 0px;
}  
 