body {
    padding: 0px;
}
/* Top navigation bar */
.nav-conteiner {
    display: flex;
    justify-content: space-between;
    background-color:beige;
    align-items: center;
   
}
.nav-conteiner>nav>ul {
display: flex;
align-items: center;
}
.nav-conteiner>nav>ul>li {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}
.nav-conteiner>nav>ul>li>a {
    display: block;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
     color:black;
  background-color: transparent;
   border-radius: 10px;
}

/* Shop conteiners */
.mainShopContainer {
    display: inline-block;
    width: 350px;
    vertical-align:top;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 30px;
}
.mainShopContainer>h3>a {
    color: black;
    text-decoration: none;
}
/* Shop home page */
.shopHomePage {
    
    display: block;
    width: 350px;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 30px;
     
     
}
.shopHomePage>ul {
   list-style-type: none;
   padding-left: 0;
}
.shopHomePage>ul>li>h3>a {

    color: black;
    text-decoration: none;
}

/* Registration */
.motherRegContainer {
    display: block;
}
.regContainer {
    display: inline-block;
    
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 30px;
}