body {
    padding: 0px;
}
/* Top navigation bar */
.nav-conteiner {
    display: flex;
    justify-content: space-between;
    background-color:beige;
    align-items: center;
   
}
.nav-conteiner>nav>ul {
display: flex;
align-items: center;
}
.nav-conteiner>nav>ul>li {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}
.nav-conteiner>nav>ul>li>a {
    display: block;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
     color:black;
  background-color: transparent;
   border-radius: 10px;
   background-color: rgb(247, 193, 239);
}

/* Shop conteiners */
.mainShopContainer {
    display: inline-block;
    width: 350px;
    vertical-align:top;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 30px;
}
.mainShopContainer>h3>a {
    color: black;
    text-decoration: none;
}
/* Shop home page */
.shopHomePage {
    
    display: block;
    width: 350px;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 30px;
     
     
}
.shopHomePage>ul {
   list-style-type: none;
   padding-left: 0;
}
.shopHomePage>ul>li>h3>a {

    color: black;
    text-decoration: none;
}

/* Registration */
.motherRegContainer {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.regContainer {
    display: inline-block;
    width: 300px;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 20px;
}
.regContainer>h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.regContainer>hr {
    border: none;
    height: 3px;
    margin: 20px 0;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, #FFF,  rgb(247, 193, 239), #FFF);
}
.regContainer>hr:before,
.regContainer>hr:after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid  rgb(247, 193, 239);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
}
.regContainer>hr:after {
    animation: anim-hr 1s linear infinite; 
}
@keyframes anim-hr {
    0% {
        width: 20px;
        height: 20px;
    }
    100% {
        width: 0;
        height: 0;
    }
}

.form-group {
    display: inline-block;
    height: 10px;
text-align: left;
width:  95%;


}
.text-input>div {
    text-align: center;
    margin-bottom: 0px;
   
}
.text-input>div>#id_username, #id_email, #id_password1, #id_password2 {
    display: inline-block;
    width:  95%;  
    border-radius: 5px;
    border-width: 0.2px;
    border-color: rgb(247, 193, 239);
    outline: none; 
}
.regButton {
    display: inline-block;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
     color:black;
  background-color: transparent;
   border-radius: 10px;
   margin-bottom: 10px;
   background-color: rgb(247, 193, 239);
}
/* Login */
.loginMainContainer>h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.loginMainContainer>hr {
    border: none;
    height: 3px;
    margin: 10px 0;
    margin-top: 15px;
    background-image: linear-gradient(to right, #FFF,  rgb(247, 193, 239), #FFF);
    margin-bottom: 20px;
}
.loginMainContainer>hr:before,
.loginMainContainer>hr:after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid  rgb(247, 193, 239);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
}
.loginMainContainer>hr:after {
    animation: anim-hr 1s linear infinite; 
}
@keyframes anim-hr {
    0% {
        width: 20px;
        height: 20px;
    }
    100% {
        width: 0;
        height: 0;
    }
}
.loginMotherContainer{
    display: block;
    text-align: center;
    margin-top: 40px; 
}
.loginMainContainer {
    display: inline-block;
    width: 280px;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
     border-color: rgb(224, 224, 199);
     background-color: beige;
     border-radius: 20px;
}
#id_username, #id_password { 
display: inline-block; 
margin-bottom: 5px;
    width:  80%;  
    border-radius: 5px;
    border-width: 0.2px;
    border-color: rgb(247, 193, 239);
    outline: none; 
}
.logButton { 
    margin-top: 5px;
display: inline-block;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
     color:black;
  background-color: transparent;
   border-radius: 10px;
   
   background-color: rgb(247, 193, 239);
   text-align: center;
}
.regContainer>p {
    margin-top: 0px;
    margin-bottom: 0px;
}